# CMake
/*-prefix
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake

_CPack_Packages/
cmake_install.cmake


# CMake - Debian
*.deb

# IDEs
.idea
*kdev*
.project
.pydevproject

# Various files
*.lprof
*~
*.qm
.DS_Store
.project

# Build/run side effects
*.pyc
__pycache__
docs/html
*.log

*.mo

package_SHSW
package
package_JH